<div class="container">
  <ul class="ch-grid">
      <% @dashboard_presenter.tenants.each_with_index do |tenant, i| %>
      <li>
        <div class="ch-item"> 
          <div class="ch-info">
            <h3><%= tenant.name %></h3>
            <p>numicago@gmail.com</p>
            <p>Entrou a <%= tenant.entered_on %></p>
            <p>Ainda não saiu</p>
          </div>
          <div class="ch-thumb ch-img-1" style="background-image: url(<%= @dashboard_presenter.tenant_sample_image %>)">
            <p style="margin-top: 162px; font-size: 40px; opacity: 0.4">26.45€</p></div>
        </div>
      </li>
    <%  end %>
  </ul>
</div>