<!-- <div>
	<%#= render "people_info" %>
	<%#= image_tag "http://icons.iconarchive.com/icons/limav/flat-gradient-social/512/email-icon.png", style: "width: 25px; height: 25px", onclick: "$.people.sendEmail();" %>
</div>

<div>
	<%#= render 'bills_info' %>
</div>

<div>
	<%#= render 'people_vs_bills_table' %>
</div>

<div>
	<%#= render 'chart' %>
</div>
 -->

 <div class="section section_1">
 	<div class="arrow"></div>
 	<div class="top_container">Gestão de contas para senhorios.</div>
 </div>

 <div class="section section_2">
 	<div class="arrow"></div>
 		<%#= render 'people' %>
 		<%= render 'circle-effects' %>
 </div>

<button>botão</button>
 
 <div class="section section_3">
	<%#= render 'bills_info' %>
	<%= render 'bills_balls' %>
	<%#= render 'chart' %>
 </div>

 <div class="section footer">
 	<div class="arrow"></div>
 	<div>Desenvolvido por: Nuno Gonçalves</div>
 	<div class="email">numicago@gmail.com</div>
 </div>