<div>
	<%= render "people_info" %>
</div>

<div>
	<%= render 'bills_info' %>
</div>

<div>
	<%#= render "people_date_info" %>
</div>

<div>
	<%#= render 'bills_prices_and_dates' %>
</div>

<div>
	<%#= render 'days_and_people_total' %>
</div>