 <div class="section section_1">
 	<div class="arrow"></div>
 	<div class="top_container">Gestão de contas para senhorios.</div>
 </div>

 <div class="section section_2">
 	<div class="arrow"></div>
 		<%= render 'tenants/list' %>
 </div>

 <div class="section section_3">
 	<div class="arrow"></div>
	<%= render 'bills/list' %>
 </div>

	<div class="section section_4">
		<div style="display: inline-block">
			<%= render 'chart' %>
		</div>
		<div style="display: inline-block; width: 48%; height: 100%">
			<%= render 'people_vs_bills_table' %>
		</div>
	</div>

 <div class="section footer">
 	<div class="arrow"></div>
 	<div>Desenvolvido por: Nuno Gonçalves</div>
 	<div class="email">numicago@gmail.com</div>
 </div>