* {
	font-size: 100%;
	font-family: Arial;
}

.bills_main_info 
	li {
		float: left;
		border-color: black;
		border-width: 1px;
		border-style: dotted;
		div {
		width: 100px;
		background-color: red;
	}

}

.people_list li {
		display: inline-block;
	}

	img {
		width: 75px;
		height: 100px;
	}

.datepicker:hover {
	cursor: pointer;
}